<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
 
</head>
<body>
 
<div ng-app="app" ng-controller="registCtrl">
	 <div style="position:absolute;width:900px;left:50%;margin-left:-450px; ">
	 	 <div style="align:center"> <h3 >用户注册<h3></div>
	 	 <label>用户名</label><input id="username" ng-model="user.username"/><br/>
	 	 <label>密码</label><input id="userpassword" ng-model="user.userpassword"/><br/>
	 	 <label>邮箱</label><input id="useremail" ng-model="user.useremail"/><br/>
	 	 <label>昵称</label><input id="usernick" ng-model="user.usernick"/><br/>
	 	 <label>出生年</label><input id="userbirthyear" ng-model="user.userbirthyear"/><br/>
	 	 <button ng-click="registuser()">注册</button>
	 </div>   
</div>
<script src="regist.html.js"></script>
</body>

</html>